---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Font variables

$base-font-family:  Karmilla-Web, Helvetica, Arial, sans-serif;
$title-font-family: $base-font-family;
$serif-font-family: 'Cormorant Garamond', Garamond, Times, serif;
$code-font-family: Monoist-Web, monospace;
$base-font-size:   16px;
$base-font-weight: 400;
$bold-font-weight: 700;
$title-font-weight: 900;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

// Color variables

$text-color:       #111;
$background-color: #fffbf2; // #fdfdfd
$brand-color:      #00d2b8; // blue-green

$brand-color-dark: darken($brand-color, 15%);
$code-background:  #fff; // lighten($brand-color, 55%);
$contrast-color:   #f766ff; // pink

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 30%); // = #ededed;
$grey-color-pale:  lighten($grey-color, 30%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area

$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Sidebar

$sidebar-ratio:    25%;
$content-ratio:    100 - $sidebar-ratio;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "fonts",
        "base",
        "layout",
        "modules-nav-index",
          "modules-nav-main",
          "modules-nav-second",
        "modules-cards",
        "modules-action-buttons",
        "overrides",
        "utilities",
          "syntax-highlighting"
;
