[submodule "cours-divers"]
	path = cours-divers
	url = https://github.com/collectifwp/cours-divers
[submodule "cours-javascript"]
	path = cours-javascript
url=https://github.com/coursweb/cours-javascript
[submodule "cours-css"]
	path = cours-css
	url = https://github.com/collectifwp/cours-css
[submodule "cours-wp"]
	path = cours-wp
	url = https://github.com/collectifwp/cours-wp
[submodule "cours-html"]
	path = cours-html
	url = https://github.com/collectifwp/cours-html
[submodule "cours-git"]
	path = cours-git
	url = https://github.com/coursweb/cours-git
[submodule "cours-outils"]
	path = cours-outils
	url = https://github.com/coursweb/cours-outils
[submodule "cours-typographie"]
	path = cours-typographie
	url = https://github.com/coursweb/cours-typographie/
[submodule "reveal.js"]
	path = reveal.js
	url = https://github.com/hakimel/reveal.js/
[submodule "cours-processus"]
	path = cours-processus
	url = https://github.com/coursweb/cours-processus
[submodule "cours-figma"]
	path = cours-figma
	url = https://github.com/coursweb/cours-figma
[submodule "cours-newsletters"]
	path = cours-newsletters
	url = https://github.com/coursweb/cours-newsletters
