---
layout: default
---

<div class="home">

  <h1 class="page-heading">Programmation Web</h1>

  <p>
    Bienvenue sur le support de cours Programmation Web!
  </p>
  
   <nav class="index-menu">
        {% for my_page in site.pages %}
          {% if my_page.title %}
            {% assign page_url_parts = my_page.url | split: '/' %}
            {% assign page_url_parts_size = page_url_parts | size %}
            {% if page_url_parts_size <= 2 %}
            	{% if my_page.title != "About" %}
              <a class="index-link{% if page_url_parts[1] == url_parts[1] %} active{% endif %}" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
            	{% endif %}
            {% endif %}
          {% endif %}
        {% endfor %}
   </nav>

</div>
