{% comment %} 

  Production du menu principal

{% endcomment %}


{% for chapter in site.chapters %}
  
  <a class="page-link" href="{{ site.url }}/{{ chapter.url }}">{{ chapter.title }}</a>

{% endfor %}

  <a class="page-link" href="{{ site.url }}/about">About</a>

{% comment %} 

  Note: 

  It would be easier to create the menu based on the "chapters", 
  definded in _config.yml

  - Loop through site.chapters.
  - For each, build the menu.
  - Test against current URL, to see which one is "active".



{% endcomment %}
