{% comment %} 
    loaded in : _layouts/default.html
{% endcomment %}

<script src="{{ "/javascripts/coursweb.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/javascripts/jquery-3.1.1.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/javascripts/magnific-popup/jquery.magnific-popup.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/javascripts/coursweb.jquery.js" | prepend: site.baseurl }}"></script>
<script>
$(document).ready(function() {

// Special style for Article-Lists



// Show Github Contributors

  {% assign path_parts = page.path | split: '/' %}
        
        {% if path_parts[0] == 'cours-html' %}
            {% assign giturl = 'coursweb' %}
        {% elsif path_parts[0] == 'cours-css' %}
            {% assign giturl = 'coursweb' %}
        {% elsif path_parts[0] == 'cours-git' %}
            {% assign giturl = 'coursweb' %}
        {% elsif path_parts[0] == 'cours-outils' %}
            {% assign giturl = 'coursweb' %}
        {% elsif path_parts[0] == 'cours-divers' %}
            {% assign giturl = 'coursweb' %}
        {% elsif path_parts[0] == 'cours-javascript' %}
            {% assign giturl = 'coursweb' %}
        {% elsif path_parts[0] == 'cours-wp' %}
            {% assign giturl = 'collectifwp' %}
        {% endif %}

  {% if giturl %}

    // Charger dynamiquement depuis Github la 
    // liste des contributeurs de la page actuelle

    // Méthode: jQuery.getJSON()

    (function() {
      
      var GithubAPI = "https://api.github.com/repos/{{ giturl }}/{{ path_parts[0] }}/commits?path={{ path_parts[1] }}";

      // var GithubData = JSON.parse(localStorage.getItem('smartIp'));
      
      // https://stackoverflow.com/questions/17379312/cache-json-response

      $.getJSON( GithubAPI )
        .done(function( data ) {

            var authors = []; // liste complète des contributions
            var authornames = []; // pour filtrer les doublons

            authors.push( "<h3>Ont contribué à cette page:</h3>");

            $.each(data, function(index, item) {
                if(item.author) {
                    
                    var status = authornames.indexOf( item.author.login );

                    if ( authornames.indexOf( item.author.login ) < 0 ) {

                            authors.push( "<li><span>" + item.author.login + "</span><a href='"+item.author.html_url+"'><img src='"+item.author.avatar_url+"' /></a></li>" );
                            authornames.push( item.author.login );
                            // The push() method adds new items to the end of an array

                    } // if authornames.indexOf...
                } // if(item.author)
            }); // each

            // TODO: test if authors has more than 1 person, otherwise skip.

          $( "<ul/>", {
            "class": "contributors",
            html: authors.join( "" )
          }).appendTo( "#post-footer" );

        }); // end function (data)

    })();

  {% endif %}


});
</script>