/**
 * Load Fonts
 */

@font-face {
	font-family: 'Karmilla-Web';
	font-weight: 400;
	font-style: normal;
	src: url('../fonts/karmilla-regular.woff2') format('woff2'),
	url('../fonts/karmilla-regular.woff') format('woff');
}

@font-face {
	font-family: 'Karmilla-Web';
	font-weight: 700;
	font-style: normal;
	src: url('../fonts/karmilla-bold.woff2') format('woff2'),
	url('../fonts/karmilla-bold.woff') format('woff');
}

@font-face {
	font-family: 'Monoist-Web';
	font-weight: 400;
	font-style: normal;
	src: url('../fonts/monoist.woff2') format('woff2'),
	url('../fonts/monoist.woff') format('woff');
}

/*
@font-face {
  font-family: "icomoon";
  src: url('../fonts/icomoon.woff') format('woff');
}
*/