

h1, h2, h3, h4, h5, h6 {
	color: $grey-color-dark
}

hr {
	margin-top: 1.5em;
	margin-bottom: 2em;
	border: none;
    height: 2px;
    background-color: $grey-color-pale;
}


figcaption {
	font-style: normal;
	font-size: 0.85em;
	padding-left: 0em;
	color: $grey-color;
}

.site-header {
	padding-bottom: 12px;
}

.site-title {
	margin-right: 1em;
	line-height: 1;
	margin-top: 12px;
}

.site-nav {
	float: left;
}

.site-nav .page-link:not(:last-child) {
	margin-right: 0;
}
 
.site-nav .active {
	background-color: $background-color;
	// border: 1px solid $brand-color;
	text-decoration: underline;
}

.page-content {
	clear: left;
	padding-top: 30px; /* Overridden by MediaQuery */
}

.post-content img {
	margin: 0.5em 0;
	max-height: 45vh;
	cursor: zoom-in;
}

.post-content img.large-image {
	max-height: 100%;
	cursor: auto;
}

.mfp-figure figure,
.mfp-content img.mfp-img {
	border: 0;
}

.post-content tbody {
	vertical-align: top;
}

.post-content table {
	margin-bottom: 2.5em
}

.post-content tbody td:first-of-type code {
	display: block;
	margin-right: 1em;
}

img + br + em {
	// margin-top: -2em;
	display: block;
}

img + br {
}

.post-content em a {
	font-weight: 700;
}

.post-content .footnotes::before {
	content: 'Notes';
	display: block;
	font-size: 140%;
	font-weight: 700;
	margin: 2.5em 0 1em 0;
	padding-bottom: 0.5em;
	border-bottom: 2px solid $grey-color-pale;
}

.post-content .footnotes {
	font-size: 90%;
	line-height: 1.2;
}

.site-header .wrapper {
	max-width: 100%;
  @include media-query($on-laptop) {
    max-width: 100%;
  }
}

.lettrine:first-letter {
  font-size: 200%;
  float: left;
}

/**
 * Secondary Menu
 */

.second-menu {
	
	@extend %clearfix;

    border-bottom: 1px solid $grey-color-light;

    .active {
        color: $brand-color;
    }

    ul {
		padding-left: 1em;
		color: $grey-color-pale;
		margin-left: -0.4em;
    }
    
    li {
        list-style-type: none;
        float: left;
    }
	
	li:after {
    	content: "— ";
	}
		
	li:last-of-type:after {
    	content: none;
	}
	
    a {
        padding: 0.2em 0.5em 0.2em 0.5em;
        color: black;
        display: inline;
    }
    
    li:first-of-type a {
    	/* padding-left: 0.15em; */
	}


}

.second-menu {
	padding-bottom: 15px;
}

.page-content .secondary-menu {
	
	border-top: 1px solid $grey-color-light;
	
}

.page-content .second-menu {
	
	border-bottom: 0;
	padding-bottom: 0;
	padding-top: $spacing-unit;
}

/* 
 * Media Queries 
 */

@media screen and (max-width: 799px) { 
 	.second-menu {
 		padding-bottom: 12px;
 	}
}

@media screen and (min-width: 600px) { 

	a.index-link {
		width: 30%;
		font-size: 160%;
	}
	a.index-link:nth-child(even) {
		margin-right: 4%;
	}
	a.index-link:nth-child(3n+3) {
		margin-right: 0;
	} 

}

@media screen 
	and (min-width: 800px)  
	and (min-height: 600px) { 
	

	.secondary-menu {
		width: $sidebar-ratio;
		float: left; 
		position: fixed;
		background: $background-color;
		padding-top: 30px;
	}
	
	.second-menu {
		
		border-bottom: 0px;
		
		ul {
			margin-left: $spacing-unit;
		}
		
		li {
        	list-style-type: lower-roman;
        	float: none;
    	}
    	
    	li:after {
    		content: none;
		}
		
		a {
        	display: block;
    	}
		
		.active {
		/* background: #eee; */
			text-decoration: underline;
		}
	}
	
	.page-content .secondary-menu {
		display: none;
	}
	
	.page-content {
    	padding-top: $spacing-unit;
	}
	
	.page-content,
	.site-footer {
		width: $content-ratio;
		max-width: 100%;
		padding-left: $sidebar-ratio;
	}

  
	
} /*end min W 800px H 600px */


@media screen 
  and (min-width: 800px) { 

  .homepage .page-content {
    width: 100%;
    padding-left: 0;
  }

  .homepage .wrapper {
    max-width: calc(100% - (30px * 2));
    margin-left: 0;
    padding-right: 15px;
  }

}

/**
 * Grid Layout
 */

 @supports (display: grid) {
    
    .index-menu {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2em;
    }

    a.index-link {
        width: 100%;
        float: none;
        height: 1fr;
        line-height: 5;
        overflow: hidden;
    }

    a.index-link::before,
    a.index-link::after  {
      display: block;
      position: absolute;
      width: 3em;
      height: 3em;
      top: calc(50% - 1.5em);
      left: calc(50% - 1.5em);
      background-color: darken($brand-color, 15%);
      border-radius: 1.5em;
      z-index: -1;
      content: "";
    }

    a.index-link::after {
      width: 7em;
      height: 7em;
      top: calc(50% - 3.5em);
      left: calc(50% - 3.5em);
      border-radius: 3.5em;
      background-color: darken($brand-color, 8%);
      z-index: -2;
    }

    a.index-link:hover::before {
      /* background-color: darken($brand-color, 25%); */
    }

    @media screen and (min-width: 600px) { 

      a.index-link::after {
       /* width: 10em;
        height: 10em;
        top: calc(50% - 5em);
        left: calc(50% - 5em);
        border-radius: 5em; */
      }

      .index-menu {
        grid-template-columns: 1fr 1fr 1fr;
      }

    }

    @media screen and (min-width: 960px) { 
        .index-menu {
          grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }


/* Card Style List */

@media screen and (min-width: 600px) { 

    .card-list {
      margin:0 0 2em 0;
      display: grid;
      grid-gap: 1em;
      grid-template-columns: repeat(3, 1fr); 
        
    }

    .card-list li {
      list-style: none; 
      display: block;
      border: 0px solid $brand-color;
      padding: 0.8em 1em;
      background-color: darken($brand-color, 20%);
      background: linear-gradient(135deg, darken($brand-color, 15%), darken($brand-color, 30%));
      color: lighten($brand-color, 45%);
    }

    .card-list li a {
      font-weight: bold;
      display: block;
      font-size: 1.2em;
      color: #fff;
      margin-bottom: 0.5em;
    }
    .card-list li a:hover {
      color: #fff;
    }

  }




 } /*end @supports grid*/


