---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>
  
  <footer id="post-footer">
  <div class="source">
	
		{% assign path_parts = page.path | split: '/' %}
		
		{% if path_parts[0] == 'cours-html' %}
			{% assign giturl = 'https://github.com/coursweb/cours-html/' %}
		{% elsif path_parts[0] == 'cours-css' %}
			{% assign giturl = 'https://github.com/coursweb/cours-css/' %}
		{% elsif path_parts[0] == 'cours-git' %}
			{% assign giturl = 'https://github.com/coursweb/cours-git/' %}
		{% elsif path_parts[0] == 'cours-outils' %}
			{% assign giturl = 'https://github.com/coursweb/cours-outils/' %}
		{% elsif path_parts[0] == 'cours-divers' %}
			{% assign giturl = 'https://github.com/coursweb/cours-divers/' %}
		{% elsif path_parts[0] == 'cours-wp' %}
			{% assign giturl = 'https://github.com/collectifwp/cours-wp/' %}
		{% elsif path_parts[0] == 'cours-javascript' %}
			{% assign giturl = 'https://github.com/coursweb/cours-javascript/' %}
		{% endif %}

  		{% if giturl %}
  			(<a class="edit-link" href="{{ giturl }}edit/master/{{ path_parts[1] }}">modifier cette page sur GitHub</a>)
  		{% endif %}
  </div>
  </footer>

</article>
